In [1]:
import difflib

import matplotlib as plt
import numpy as np
import pandas as pd

In [2]:
xl = pd.ExcelFile('data/ОС.xlsx')
df = xl.parse('TDSheet')
schet = df.iloc[6]['Основное средство.(не используется) Счет учета']
books = df.loc[df['Основное средство.(не используется) Счет учета'] == schet]

In [20]:
okof = pd.DataFrame(columns=range(df.shape[0]), index=range(df.shape[0]))
for i in range(3701):
    okof[i] = df.loc[i, 'Основное средство.Амортизационная группа']
okof

,0,1,2,3,4,5,6,7,8,9,...,3691,3692,3693,3694,3695,3696,3697,3698,3699,3700
0,Четвертая группа (свыше 5 лет до 7 лет включит...,Третья группа (свыше 3 лет до 5 лет включительно),Третья группа (свыше 3 лет до 5 лет включительно),Вторая группа (свыше 2 лет до 3 лет включительно),Четвертая группа (свыше 5 лет до 7 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Пятая группа (свыше 7 лет до 10 лет включительно),Пятая группа (свыше 7 лет до 10 лет включительно)
1,Четвертая группа (свыше 5 лет до 7 лет включит...,Третья группа (свыше 3 лет до 5 лет включительно),Третья группа (свыше 3 лет до 5 лет включительно),Вторая группа (свыше 2 лет до 3 лет включительно),Четвертая группа (свыше 5 лет до 7 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Пятая группа (свыше 7 лет до 10 лет включительно),Пятая группа (свыше 7 лет до 10 лет включительно)
2,Четвертая группа (свыше 5 лет до 7 лет включит...,Третья группа (свыше 3 лет до 5 лет включительно),Третья группа (свыше 3 лет до 5 лет включительно),Вторая группа (свыше 2 лет до 3 лет включительно),Четвертая группа (свыше 5 лет до 7 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Пятая группа (свыше 7 лет до 10 лет включительно),Пятая группа (свыше 7 лет до 10 лет включительно)
3,Четвертая группа (свыше 5 лет до 7 лет включит...,Третья группа (свыше 3 лет до 5 лет включительно),Третья группа (свыше 3 лет до 5 лет включительно),Вторая группа (свыше 2 лет до 3 лет включительно),Четвертая группа (свыше 5 лет до 7 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Пятая группа (свыше 7 лет до 10 лет включительно),Пятая группа (свыше 7 лет до 10 лет включительно)
4,Четвертая группа (свыше 5 лет до 7 лет включит...,Третья группа (свыше 3 лет до 5 лет включительно),Третья группа (свыше 3 лет до 5 лет включительно),Вторая группа (свыше 2 лет до 3 лет включительно),Четвертая группа (свыше 5 лет до 7 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Пятая группа (свыше 7 лет до 10 лет включительно),Пятая группа (свыше 7 лет до 10 лет включительно)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3696,Четвертая группа (свыше 5 лет до 7 лет включит...,Третья группа (свыше 3 лет до 5 лет включительно),Третья группа (свыше 3 лет до 5 лет включительно),Вторая группа (свыше 2 лет до 3 лет включительно),Четвертая группа (свыше 5 лет до 7 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Пятая группа (свыше 7 лет до 10 лет включительно),Пятая группа (свыше 7 лет до 10 лет включительно)
3697,Четвертая группа (свыше 5 лет до 7 лет включит...,Третья группа (свыше 3 лет до 5 лет включительно),Третья группа (свыше 3 лет до 5 лет включительно),Вторая группа (свыше 2 лет до 3 лет включительно),Четвертая группа (свыше 5 лет до 7 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Пятая группа (свыше 7 лет до 10 лет включительно),Пятая группа (свыше 7 лет до 10 лет включительно)
3698,Четвертая группа (свыше 5 лет до 7 лет включит...,Третья группа (свыше 3 лет до 5 лет включительно),Третья группа (свыше 3 лет до 5 лет включительно),Вторая группа (свыше 2 лет до 3 лет включительно),Четвертая группа (свыше 5 лет до 7 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Пятая группа (свыше 7 лет до 10 лет включительно),Пятая группа (свыше 7 лет до 10 лет включительно)
3699,Четвертая группа (свыше 5 лет до 7 лет включит...,Третья группа (свыше 3 лет до 5 лет включительно),Третья группа (свыше 3 лет до 5 лет включительно),Вторая группа (свыше 2 лет до 3 лет включительно),Четвертая группа (свыше 5 лет до 7 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Пятая группа (свыше 7 лет до 10 лет включительно),Пятая группа (свыше 7 лет до 10 лет включительно)
3700,Четвертая группа (свыше 5 лет до 7 лет включит...,Третья группа (свыше 3 лет до 5 лет включительно),Третья группа (свыше 3 лет до 5 лет включительно),Вторая группа (свыше 2 лет до 3 лет включительно),Четвертая группа (свыше 5 лет до 7 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Седьмая группа (свыше 15 лет до 20 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Четвертая группа (свыше 5 лет до 7 лет включит...,Пятая группа (свыше 7 лет до 10 лет включительно),Пятая группа (свыше 7 лет до 10 лет включительно)

In [21]:
okof.to_csv('data/okof.csv', sep=";")

In [5]:
xl = pd.read_csv('data/weights.csv', sep=';', index_col='ind')
xl

,0,1,2,3,4,5,6,7,8,9,...,3691,3692,3693,3694,3695,3696,3697,3698,3699,3700
ind,,,,,,,,,,,,,,,,,,,,,
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.509091,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
3697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.509091,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
3698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.509091,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
3699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.523810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
3700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.523810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0

In [4]:
index_df = pd.DataFrame(np.where(xl > 0.5, xl.columns, np.nan))
index_df

,0,1,2,3,4,5,6,7,8,9,...,3691,3692,3693,3694,3695,3696,3697,3698,3699,3700
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3691,3692,3693,3694,3695,3696,3697,3698,NaN,NaN
3697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3691,3692,3693,3694,3695,3696,3697,3698,NaN,NaN
3698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3691,3692,3693,3694,3695,3696,3697,3698,NaN,NaN
3699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3699,3700
3700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3699,3700

In [5]:
books_idx = list(set(index_df) & set(books.index))
books_idx

[5,
 6,
 7,
 49,
 50,
 51,
 52,
 53,
 59,
 60,
 61,
 62,
 63,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 86,
 87,
 88,
 177,
 178,
 179,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 270,
 271,
 272,
 273,
 276,
 277,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 292,
 293,
 294,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 350,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 378,
 379,
 380,
 381,
 382,
 383,
 392,
 393,
 394,
 395,
 396,
 397,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 415,
 416,
 417,
 418,
 433,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 476,
 477,
 478,
 479,
 483,
 485,
 486,
 487,
 488,
 490,
 491,
 492,
 493,
 496,
 497,
 500,
 501,
 503,
 504,
 505,
 506,
 507,
 512,
 513,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 554,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 729,
 730,
 736,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 758,
 759,
 760,
 761,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 870,
 871,
 872,
 874,
 888,
 889,
 894,
 895,
 896,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 917,
 968,
 969,
 970,
 971,
 972,
 976,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1048,
 1050,
 1051,
 1052,
 1053,
 1054,
 1056,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1099,
 1101,
 1102,
 1103,
 1104,
 1105,
 1106,
 1107,
 1108,
 1109,
 1110,
 1111,
 1112,
 1113,
 1114,
 1115,
 1116,
 1117,
 1118,
 1119,
 1120,
 1121,
 1122,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1144,
 1146,
 1148,
 1149,
 1234,
 1263,
 1264,
 1265,
 1266,
 1273,
 1274,
 1275,
 1276,
 1277,
 1278,
 1279,
 1281,
 1282,
 1329,
 1337,
 1338,
 1339,
 1340,
 1341,
 1342,
 1343,
 1345,
 1346,
 1347,
 1348,
 1349,
 1350,
 1380,
 1381,
 1382,
 1383,
 1384,
 1385,
 1386,
 1387,
 1388,
 1389,
 1390,
 1391,
 1392,
 1393,
 1394,
 1395,
 1396,
 1404,
 1406,
 1407,
 1408,
 1409,
 1410,
 1411,
 1412,
 1413,
 1414,
 1415,
 1416,
 1417,
 1418,
 1419,
 1420,
 1421,
 1422,
 1423,
 1424,
 1425,
 1429,
 1430,
 1431,
 1432,
 1433,
 1434,
 1435,
 1436,
 1437,
 1438,
 1439,
 1440,
 1441,
 1442,
 1443,
 1444,
 1445,
 1446,
 1447,
 1448,
 1449,
 1450,
 1451,
 1452,
 1453,
 1454,
 1455,
 1456,
 1457,
 1458,
 1459,
 1460,
 1461,
 1462,
 1463,
 1464,
 1465,
 1466,
 1467,
 1468,
 1469,
 1470,
 1471,
 1472,
 1473,
 1474,
 1475,
 1476,
 1477,
 1478,
 1479,
 1480,
 1481,
 1482,
 1483,
 1484,
 1485,
 1486,
 1487,
 1488,
 1491,
 1492,
 1493,
 1494,
 1496,
 1497,
 1498,
 1499,
 1500,
 1501,
 1502,
 1503,
 1504,
 1505,
 1506,
 1507,
 1511,
 1512,
 1513,
 1516,
 1517,
 1519,
 1520,
 1521,
 1522,
 1523,
 1524,
 1525,
 1526,
 1527,
 1528,
 1533,
 1534,
 1535,
 1536,
 1537,
 1538,
 1539,
 1540,
 1542,
 1543,
 1544,
 1547,
 1548,
 1549,
 1550,
 1551,
 1552,
 1553,
 1554,
 1555,
 1556,
 1557,
 1558,
 1559,
 1561,
 1562,
 1563,
 1564,
 1565,
 1566,
 1567,
 1568,
 1569,
 1570,
 1571,
 1572,
 1573,
 1581,
 1594,
 1595,
 1596,
 1597,
 1598,
 1599,
 1600,
 1601,
 1602,
 1603,
 1604,
 1605,
 1606,
 1607,
 1608,
 1609,
 1610,
 1613,
 1614,
 1615,
 1616,
 1617,
 1618,
 1619,
 1620,
 1621,
 1622,
 1623,
 1624,
 1626,
 1627,
 1628,
 1629,
 1630,
 1631,
 1632,
 1633,
 1634,
 1635,
 1636,
 1637,
 1640,
 1643,
 1644,
 1647,
 1648,
 1649,
 1650,
 1651,
 1652,
 1653,
 1654,
 1655,
 1656,
 1657,
 1658,
 1682,
 1688,
 1689,
 1690,
 1693,
 1711,
 1713,
 1714,
 1715,
 1716,
 1741,
 1742,
 1743,
 1744,
 1745,
 1747,
 1752,
 1753,
 1754,
 1755,
 1756,
 1757,
 1758,
 1759,
 1760,
 1761,
 1762,
 1763,
 1764,
 1765,
 1766,
 1767,
 1768,
 1769,
 1770,
 1771,
 1772,
 1773,
 1774,
 1775,
 1776,
 1777,
 1778,
 1779,
 1780,
 1781,
 1782,
 1783,
 1784,
 1785,
 1786,
 1787,
 1788,
 1824,
 1827,
 1828,
 1829,
 1830,
 1859,
 1860,
 1861,
 1862,
 1863,
 1864,
 1865,
 1866,
 1867,
 1868,
 1869,
 1870,
 1871,
 1872,
 1873,
 1874,
 1884,
 1885,
 1886,
 1887,
 1888,
 1889,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 ...]

## Удаляем дубликаты

In [6]:
index_df.drop_duplicates(keep='first', inplace=True)
index_df

,0,1,2,3,4,5,6,7,8,9,...,3691,3692,3693,3694,3695,3696,3697,3698,3699,3700
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,5,6,7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3699,3700
3690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3691,3692,3693,3694,3695,3696,3697,3698,3699,3700
3692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3691,3692,3693,3694,3695,3696,3697,3698,NaN,NaN
3699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3699,3700

## Исключаем все неповторяющиея названия

### Подсчитываем количество nan  в строке и записываем результат в отдельный столюец, если в строке значения наименование только одно, то количество nan будет = количество слов - 1

In [7]:
index_df['nan'] = index_df.isnull().sum(axis = 1)
index_df

,0,1,2,3,4,5,6,7,8,9,...,3692,3693,3694,3695,3696,3697,3698,3699,3700,nan
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3700
1,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3699
3,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3700
4,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3700
5,NaN,NaN,NaN,NaN,NaN,5,6,7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3660
3687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3699,3700,3696
3690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3692,3693,3694,3695,3696,3697,3698,3699,3700,3690
3692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3692,3693,3694,3695,3696,3697,3698,NaN,NaN,3692
3699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3699,3700,3692

### Удаляем все строки, где наименования не повторяются, удаляем контрольный столбец nan

In [8]:
words_count = df.shape[0]-1
words_count

3700

In [12]:
clean_index = index_df.loc[index_df['nan'] < words_count]
clean_index.pop('nan')



#books_df = clean_index.index.isin(books_idx)
#target_df = clean_index[~books_df]
#target_df = target_df.drop('nan', axis=1)
#target_df
clean_index

,0,1,2,3,4,5,6,7,8,9,...,3691,3692,3693,3694,3695,3696,3697,3698,3699,3700
1,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,5,6,7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,5,6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,5,NaN,7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3699,3700
3690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3691,3692,3693,3694,3695,3696,3697,3698,3699,3700
3692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3691,3692,3693,3694,3695,3696,3697,3698,NaN,NaN
3699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3699,3700

# Объединяем пересекающиеся строки в одну строку

In [13]:
levels = clean_index.index
for num, level in enumerate(levels):
    for sublevel in levels[num:]:
        if level == sublevel:
            continue
        print(f'Compare level = {level} & sublevel = {sublevel}')
        diff_idx = clean_index.loc[level].dropna().isin(clean_index.loc[sublevel].dropna())
        if diff_idx.any():
            print(f'row {level} == row {sublevel}')
            tmp_df = pd.DataFrame([clean_index.loc[sublevel], clean_index.loc[level]]).T
            tmp_df['nan'] = np.nan
            tmp_df = tmp_df.fillna(method='ffill',axis=1).T
            clean_index.loc[sublevel] = tmp_df.loc['nan']
            clean_index.drop([level], inplace=True)
            print('drop')
            break
        else:
            print(f'row {level} != row {sublevel}')
print('helllo')        
clean_index

Compare level = 3555 &amp; sublevel = 3607
row 3555 != row 3607
Compare level = 3555 &amp; sublevel = 3608
row 3555 != row 3608
Compare level = 3555 &amp; sublevel = 3609
row 3555 != row 3609
Compare level = 3555 &amp; sublevel = 3610
row 3555 != row 3610
Compare level = 3555 &amp; sublevel = 3611
row 3555 != row 3611
Compare level = 3555 &amp; sublevel = 3612
row 3555 != row 3612
Compare level = 3555 &amp; sublevel = 3617
row 3555 != row 3617
Compare level = 3555 &amp; sublevel = 3618
row 3555 != row 3618
Compare level = 3555 &amp; sublevel = 3619
row 3555 != row 3619
Compare level = 3555 &amp; sublevel = 3621
row 3555 != row 3621
Compare level = 3555 &amp; sublevel = 3622
row 3555 != row 3622
Compare level = 3555 &amp; sublevel = 3623
row 3555 != row 3623
Compare level = 3555 &amp; sublevel = 3625
row 3555 != row 3625
Compare level = 3555 &amp; sublevel = 3632
row 3555 != row 3632
Compare level = 3555 &amp; sublevel = 3633
row 3555 != row 3633
Compare level = 3555 &amp; sublevel = 3635
row 3555 != row 3635
Compare level = 3555 &amp; sublevel = 3636
row 3555 != row 3636
Compare level = 3555 &amp; sublevel = 3639
row 3555 != row 3639
Compare level = 3555 &amp; sublevel = 3642
row 3555 != row 3642
Compare level = 3555 &amp; sublevel = 3645
row 3555 != row 3645
Compare level = 3555 &amp; sublevel = 3646
row 3555 != row 3646
Compare level = 3555 &amp; sublevel = 3647
row 3555 != row 3647
Compare level = 3555 &amp; sublevel = 3651
row 3555 != row 3651
Compare level = 3555 &amp; sublevel = 3654
row 3555 != row 3654
Compare level = 3555 &amp; sublevel = 3655
row 3555 != row 3655
Compare level = 3555 &amp; sublevel = 3660
row 3555 != row 3660
Compare level = 3555 &amp; sublevel = 3662
row 3555 != row 3662
Compare level = 3555 &amp; sublevel = 3663
row 3555 != row 3663
Compare level = 3555 &amp; sublevel = 3664
row 3555 != row 3664
Compare level = 3555 &amp; sublevel = 3666
row 3555 != row 3666
Compare level = 3555 &amp; sublevel = 3668
row 3555 != row 3668
Compare level = 3555 &amp; sublevel = 3669
row 3555 != row 3669
Compare level = 3555 &amp; sublevel = 3671
row 3555 != row 3671
Compare level = 3555 &amp; sublevel = 3672
row 3555 != row 3672
Compare level = 3555 &amp; sublevel = 3673
row 3555 != row 3673
Compare level = 3555 &amp; sublevel = 3679
row 3555 != row 3679
Compare level = 3555 &amp; sublevel = 3681
row 3555 != row 3681
Compare level = 3555 &amp; sublevel = 3683
row 3555 != row 3683
Compare level = 3555 &amp; sublevel = 3685
row 3555 != row 3685
Compare level = 3555 &amp; sublevel = 3686
row 3555 != row 3686
Compare level = 3555 &amp; sublevel = 3687
row 3555 != row 3687
Compare level = 3555 &amp; sublevel = 3690
row 3555 != row 3690
Compare level = 3555 &amp; sublevel = 3692
row 3555 != row 3692
Compare level = 3555 &amp; sublevel = 3699
row 3555 != row 3699
Compare level = 3557 &amp; sublevel = 3559
row 3557 == row 3559
drop
Compare level = 3559 &amp; sublevel = 3560
row 3559 == row 3560
drop
Compare level = 3560 &amp; sublevel = 3561
row 3560 == row 3561
drop
Compare level = 3561 &amp; sublevel = 3562
row 3561 == row 3562
drop
Compare level = 3562 &amp; sublevel = 3563
row 3562 == row 3563
drop
Compare level = 3563 &amp; sublevel = 3565
row 3563 == row 3565
drop
Compare level = 3565 &amp; sublevel = 3566
row 3565 == row 3566
drop
Compare level = 3566 &amp; sublevel = 3567
row 3566 == row 3567
drop
Compare level = 3567 &amp; sublevel = 3568
row 3567 == row 3568
drop
Compare level = 3568 &amp; sublevel = 3569
row 3568 == row 3569
drop
Compare level = 3569 &amp; sublevel = 3571
row 3569 == row 3571
drop
Compare level = 3571 &amp; sublevel = 3572
row 3571 == row 3572
drop
Compare level = 3572 &amp; sublevel = 3573
row 3572 == row 3573
drop
Compare level = 3573 &amp; sublevel = 3574
row 3573 == row 3574
drop
Compare level = 3574 &amp; sublevel = 3576
row 3574 == row 3576
drop
Compare level = 3576 &amp; sublevel = 3577
row 3576 == row 3577
drop
Compare level = 3577 &amp; sublevel = 3578
row 3577 == row 3578
drop
Compare level = 3578 &amp; sublevel = 3579
row 3578 == row 3579
drop
Compare level = 3579 &amp; sublevel = 3581
row 3579 == row 3581
drop
Compare level = 3581 &amp; sublevel = 3582
row 3581 == row 3582
drop
Compare level = 3582 &amp; sublevel = 3584
row 3582 == row 3584
drop
Compare level = 3584 &amp; sublevel = 3585
row 3584 == row 3585
drop
Compare level = 3585 &amp; sublevel = 3586
row 3585 == row 3586
drop
Compare level = 3586 &amp; sublevel = 3589
row 3586 == row 3589
drop
Compare level = 3589 &amp; sublevel = 3590
row 3589 == row 3590
drop
Compare level = 3590 &amp; sublevel = 3591
row 3590 == row 3591
drop
Compare level = 3591 &amp; sublevel = 3592
row 3591 == row 3592
drop
Compare level = 3592 &amp; sublevel = 3593
row 3592 == row 3593
drop
Compare level = 3593 &amp; sublevel = 3596
row 3593 == row 3596
drop
Compare level = 3596 &amp; sublevel = 3601
row 3596 == row 3601
drop
Compare level = 3601 &amp; sublevel = 3603
row 3601 == row 3603
drop
Compare level = 3603 &amp; sublevel = 3604
row 3603 == row 3604
drop
Compare level = 3604 &amp; sublevel = 3605
row 3604 == row 3605
drop
Compare level = 3605 &amp; sublevel = 3606
row 3605 == row 3606
drop
Compare level = 3606 &amp; sublevel = 3607
row 3606 != row 3607
Compare level = 3606 &amp; sublevel = 3608
row 3606 == row 3608
drop
Compare level = 3607 &amp; sublevel = 3608
row 3607 != row 3608
Compare level = 3607 &amp; sublevel = 3609
row 3607 != row 3609
Compare level = 3607 &amp; sublevel = 3610
row 3607 != row 3610
Compare level = 3607 &amp; sublevel = 3611
row 3607 != row 3611
Compare level = 3607 &amp; sublevel = 3612
row 3607 != row 3612
Compare level = 3607 &amp; sublevel = 3617
row 3607 != row 3617
Compare level = 3607 &amp; sublevel = 3618
row 3607 != row 3618
Compare level = 3607 &amp; sublevel = 3619
row 3607 != row 3619
Compare level = 3607 &amp; sublevel = 3621
row 3607 != row 3621
Compare level = 3607 &amp; sublevel = 3622
row 3607 != row 3622
Compare level = 3607 &amp; sublevel = 3623
row 3607 != row 3623
Compare level = 3607 &amp; sublevel = 3625
row 3607 != row 3625
Compare level = 3607 &amp; sublevel = 3632
row 3607 != row 3632
Compare level = 3607 &amp; sublevel = 3633
row 3607 != row 3633
Compare level = 3607 &amp; sublevel = 3635
row 3607 != row 3635
Compare level = 3607 &amp; sublevel = 3636
row 3607 != row 3636
Compare level = 3607 &amp; sublevel = 3639
row 3607 != row 3639
Compare level = 3607 &amp; sublevel = 3642
row 3607 != row 3642
Compare level = 3607 &amp; sublevel = 3645
row 3607 != row 3645
Compare level = 3607 &amp; sublevel = 3646
row 3607 != row 3646
Compare level = 3607 &amp; sublevel = 3647
row 3607 != row 3647
Compare level = 3607 &amp; sublevel = 3651
row 3607 != row 3651
Compare level = 3607 &amp; sublevel = 3654
row 3607 != row 3654
Compare level = 3607 &amp; sublevel = 3655
row 3607 != row 3655
Compare level = 3607 &amp; sublevel = 3660
row 3607 != row 3660
Compare level = 3607 &amp; sublevel = 3662
row 3607 != row 3662
Compare level = 3607 &amp; sublevel = 3663
row 3607 != row 3663
Compare level = 3607 &amp; sublevel = 3664
row 3607 != row 3664
Compare level = 3607 &amp; sublevel = 3666
row 3607 != row 3666
Compare level = 3607 &amp; sublevel = 3668
row 3607 != row 3668
Compare level = 3607 &amp; sublevel = 3669
row 3607 != row 3669
Compare level = 3607 &amp; sublevel = 3671
row 3607 != row 3671
Compare level = 3607 &amp; sublevel = 3672
row 3607 != row 3672
Compare level = 3607 &amp; sublevel = 3673
row 3607 != row 3673
Compare level = 3607 &amp; sublevel = 3679
row 3607 != row 3679
Compare level = 3607 &amp; sublevel = 3681
row 3607 != row 3681
Compare level = 3607 &amp; sublevel = 3683
row 3607 != row 3683
Compare level = 3607 &amp; sublevel = 3685
row 3607 != row 3685
Compare level = 3607 &amp; sublevel = 3686
row 3607 != row 3686
Compare level = 3607 &amp; sublevel = 3687
row 3607 != row 3687
Compare level = 3607 &amp; sublevel = 3690
row 3607 != row 3690
Compare level = 3607 &amp; sublevel = 3692
row 3607 != row 3692
Compare level = 3607 &amp; sublevel = 3699
row 3607 != row 3699
Compare level = 3608 &amp; sublevel = 3609
row 3608 == row 3609
drop
Compare level = 3609 &amp; sublevel = 3610
row 3609 == row 3610
drop
Compare level = 3610 &amp; sublevel = 3611
row 3610 == row 3611
drop
Compare level = 3611 &amp; sublevel = 3612
row 3611 == row 3612
drop
Compare level = 3612 &amp; sublevel = 3617
row 3612 == row 3617
drop
Compare level = 3617 &amp; sublevel = 3618
row 3617 == row 3618
drop
Compare level = 3618 &amp; sublevel = 3619
row 3618 == row 3619
drop
Compare level = 3619 &amp; sublevel = 3621
row 3619 == row 3621
drop
Compare level = 3621 &amp; sublevel = 3622
row 3621 == row 3622
drop
Compare level = 3622 &amp; sublevel = 3623
row 3622 != row 3623
Compare level = 3622 &amp; sublevel = 3625
row 3622 != row 3625
Compare level = 3622 &amp; sublevel = 3632
row 3622 != row 3632
Compare level = 3622 &amp; sublevel = 3633
row 3622 != row 3633
Compare level = 3622 &amp; sublevel = 3635
row 3622 != row 3635
Compare level = 3622 &amp; sublevel = 3636
row 3622 == row 3636
drop
Compare level = 3623 &amp; sublevel = 3625
row 3623 == row 3625
drop
Compare level = 3625 &amp; sublevel = 3632
row 3625 != row 3632
Compare level = 3625 &amp; sublevel = 3633
row 3625 != row 3633
Compare level = 3625 &amp; sublevel = 3635
row 3625 != row 3635
Compare level = 3625 &amp; sublevel = 3636
row 3625 != row 3636
Compare level = 3625 &amp; sublevel = 3639
row 3625 != row 3639
Compare level = 3625 &amp; sublevel = 3642
row 3625 != row 3642
Compare level = 3625 &amp; sublevel = 3645
row 3625 != row 3645
Compare level = 3625 &amp; sublevel = 3646
row 3625 != row 3646
Compare level = 3625 &amp; sublevel = 3647
row 3625 != row 3647
Compare level = 3625 &amp; sublevel = 3651
row 3625 != row 3651
Compare level = 3625 &amp; sublevel = 3654
row 3625 != row 3654
Compare level = 3625 &amp; sublevel = 3655
row 3625 != row 3655
Compare level = 3625 &amp; sublevel = 3660
row 3625 != row 3660
Compare level = 3625 &amp; sublevel = 3662
row 3625 != row 3662
Compare level = 3625 &amp; sublevel = 3663
row 3625 != row 3663
Compare level = 3625 &amp; sublevel = 3664
row 3625 != row 3664
Compare level = 3625 &amp; sublevel = 3666
row 3625 != row 3666
Compare level = 3625 &amp; sublevel = 3668
row 3625 != row 3668
Compare level = 3625 &amp; sublevel = 3669
row 3625 != row 3669
Compare level = 3625 &amp; sublevel = 3671
row 3625 != row 3671
Compare level = 3625 &amp; sublevel = 3672
row 3625 != row 3672
Compare level = 3625 &amp; sublevel = 3673
row 3625 != row 3673
Compare level = 3625 &amp; sublevel = 3679
row 3625 != row 3679
Compare level = 3625 &amp; sublevel = 3681
row 3625 != row 3681
Compare level = 3625 &amp; sublevel = 3683
row 3625 != row 3683
Compare level = 3625 &amp; sublevel = 3685
row 3625 != row 3685
Compare level = 3625 &amp; sublevel = 3686
row 3625 != row 3686
Compare level = 3625 &amp; sublevel = 3687
row 3625 != row 3687
Compare level = 3625 &amp; sublevel = 3690
row 3625 != row 3690
Compare level = 3625 &amp; sublevel = 3692
row 3625 != row 3692
Compare level = 3625 &amp; sublevel = 3699
row 3625 != row 3699
Compare level = 3632 &amp; sublevel = 3633
row 3632 == row 3633
drop
Compare level = 3633 &amp; sublevel = 3635
row 3633 == row 3635
drop
Compare level = 3635 &amp; sublevel = 3636
row 3635 != row 3636
Compare level = 3635 &amp; sublevel = 3639
row 3635 != row 3639
Compare level = 3635 &amp; sublevel = 3642
row 3635 != row 3642
Compare level = 3635 &amp; sublevel = 3645
row 3635 != row 3645
Compare level = 3635 &amp; sublevel = 3646
row 3635 != row 3646
Compare level = 3635 &amp; sublevel = 3647
row 3635 != row 3647
Compare level = 3635 &amp; sublevel = 3651
row 3635 != row 3651
Compare level = 3635 &amp; sublevel = 3654
row 3635 != row 3654
Compare level = 3635 &amp; sublevel = 3655
row 3635 != row 3655
Compare level = 3635 &amp; sublevel = 3660
row 3635 != row 3660
Compare level = 3635 &amp; sublevel = 3662
row 3635 != row 3662
Compare level = 3635 &amp; sublevel = 3663
row 3635 != row 3663
Compare level = 3635 &amp; sublevel = 3664
row 3635 != row 3664
Compare level = 3635 &amp; sublevel = 3666
row 3635 != row 3666
Compare level = 3635 &amp; sublevel = 3668
row 3635 != row 3668
Compare level = 3635 &amp; sublevel = 3669
row 3635 != row 3669
Compare level = 3635 &amp; sublevel = 3671
row 3635 != row 3671
Compare level = 3635 &amp; sublevel = 3672
row 3635 != row 3672
Compare level = 3635 &amp; sublevel = 3673
row 3635 != row 3673
Compare level = 3635 &amp; sublevel = 3679
row 3635 != row 3679
Compare level = 3635 &amp; sublevel = 3681
row 3635 != row 3681
Compare level = 3635 &amp; sublevel = 3683
row 3635 != row 3683
Compare level = 3635 &amp; sublevel = 3685
row 3635 != row 3685
Compare level = 3635 &amp; sublevel = 3686
row 3635 != row 3686
Compare level = 3635 &amp; sublevel = 3687
row 3635 != row 3687
Compare level = 3635 &amp; sublevel = 3690
row 3635 != row 3690
Compare level = 3635 &amp; sublevel = 3692
row 3635 != row 3692
Compare level = 3635 &amp; sublevel = 3699
row 3635 != row 3699
Compare level = 3636 &amp; sublevel = 3639
row 3636 == row 3639
drop
Compare level = 3639 &amp; sublevel = 3642
row 3639 == row 3642
drop
Compare level = 3642 &amp; sublevel = 3645
row 3642 == row 3645
drop
Compare level = 3645 &amp; sublevel = 3646
row 3645 != row 3646
Compare level = 3645 &amp; sublevel = 3647
row 3645 != row 3647
Compare level = 3645 &amp; sublevel = 3651
row 3645 != row 3651
Compare level = 3645 &amp; sublevel = 3654
row 3645 != row 3654
Compare level = 3645 &amp; sublevel = 3655
row 3645 != row 3655
Compare level = 3645 &amp; sublevel = 3660
row 3645 == row 3660
drop
Compare level = 3646 &amp; sublevel = 3647
row 3646 != row 3647
Compare level = 3646 &amp; sublevel = 3651
row 3646 != row 3651
Compare level = 3646 &amp; sublevel = 3654
row 3646 != row 3654
Compare level = 3646 &amp; sublevel = 3655
row 3646 != row 3655
Compare level = 3646 &amp; sublevel = 3660
row 3646 != row 3660
Compare level = 3646 &amp; sublevel = 3662
row 3646 != row 3662
Compare level = 3646 &amp; sublevel = 3663
row 3646 != row 3663
Compare level = 3646 &amp; sublevel = 3664
row 3646 != row 3664
Compare level = 3646 &amp; sublevel = 3666
row 3646 != row 3666
Compare level = 3646 &amp; sublevel = 3668
row 3646 != row 3668
Compare level = 3646 &amp; sublevel = 3669
row 3646 != row 3669
Compare level = 3646 &amp; sublevel = 3671
row 3646 != row 3671
Compare level = 3646 &amp; sublevel = 3672
row 3646 != row 3672
Compare level = 3646 &amp; sublevel = 3673
row 3646 != row 3673
Compare level = 3646 &amp; sublevel = 3679
row 3646 != row 3679
Compare level = 3646 &amp; sublevel = 3681
row 3646 != row 3681
Compare level = 3646 &amp; sublevel = 3683
row 3646 != row 3683
Compare level = 3646 &amp; sublevel = 3685
row 3646 != row 3685
Compare level = 3646 &amp; sublevel = 3686
row 3646 != row 3686
Compare level = 3646 &amp; sublevel = 3687
row 3646 != row 3687
Compare level = 3646 &amp; sublevel = 3690
row 3646 != row 3690
Compare level = 3646 &amp; sublevel = 3692
row 3646 != row 3692
Compare level = 3646 &amp; sublevel = 3699
row 3646 != row 3699
Compare level = 3647 &amp; sublevel = 3651
row 3647 != row 3651
Compare level = 3647 &amp; sublevel = 3654
row 3647 != row 3654
Compare level = 3647 &amp; sublevel = 3655
row 3647 != row 3655
Compare level = 3647 &amp; sublevel = 3660
row 3647 != row 3660
Compare level = 3647 &amp; sublevel = 3662
row 3647 != row 3662
Compare level = 3647 &amp; sublevel = 3663
row 3647 != row 3663
Compare level = 3647 &amp; sublevel = 3664
row 3647 != row 3664
Compare level = 3647 &amp; sublevel = 3666
row 3647 != row 3666
Compare level = 3647 &amp; sublevel = 3668
row 3647 != row 3668
Compare level = 3647 &amp; sublevel = 3669
row 3647 != row 3669
Compare level = 3647 &amp; sublevel = 3671
row 3647 != row 3671
Compare level = 3647 &amp; sublevel = 3672
row 3647 != row 3672
Compare level = 3647 &amp; sublevel = 3673
row 3647 != row 3673
Compare level = 3647 &amp; sublevel = 3679
row 3647 != row 3679
Compare level = 3647 &amp; sublevel = 3681
row 3647 != row 3681
Compare level = 3647 &amp; sublevel = 3683
row 3647 != row 3683
Compare level = 3647 &amp; sublevel = 3685
row 3647 != row 3685
Compare level = 3647 &amp; sublevel = 3686
row 3647 != row 3686
Compare level = 3647 &amp; sublevel = 3687
row 3647 != row 3687
Compare level = 3647 &amp; sublevel = 3690
row 3647 != row 3690
Compare level = 3647 &amp; sublevel = 3692
row 3647 != row 3692
Compare level = 3647 &amp; sublevel = 3699
row 3647 != row 3699
Compare level = 3651 &amp; sublevel = 3654
row 3651 == row 3654
drop
Compare level = 3654 &amp; sublevel = 3655
row 3654 == row 3655
drop
Compare level = 3655 &amp; sublevel = 3660
row 3655 != row 3660
Compare level = 3655 &amp; sublevel = 3662
row 3655 != row 3662
Compare level = 3655 &amp; sublevel = 3663
row 3655 != row 3663
Compare level = 3655 &amp; sublevel = 3664
row 3655 == row 3664
drop
Compare level = 3660 &amp; sublevel = 3662
row 3660 == row 3662
drop
Compare level = 3662 &amp; sublevel = 3663
row 3662 == row 3663
drop
Compare level = 3663 &amp; sublevel = 3664
row 3663 == row 3664
drop
Compare level = 3664 &amp; sublevel = 3666
row 3664 == row 3666
drop
Compare level = 3666 &amp; sublevel = 3668
row 3666 == row 3668
drop
Compare level = 3668 &amp; sublevel = 3669
row 3668 != row 3669
Compare level = 3668 &amp; sublevel = 3671
row 3668 == row 3671
drop
Compare level = 3669 &amp; sublevel = 3671
row 3669 != row 3671
Compare level = 3669 &amp; sublevel = 3672
row 3669 != row 3672
Compare level = 3669 &amp; sublevel = 3673
row 3669 != row 3673
Compare level = 3669 &amp; sublevel = 3679
row 3669 != row 3679
Compare level = 3669 &amp; sublevel = 3681
row 3669 != row 3681
Compare level = 3669 &amp; sublevel = 3683
row 3669 != row 3683
Compare level = 3669 &amp; sublevel = 3685
row 3669 != row 3685
Compare level = 3669 &amp; sublevel = 3686
row 3669 != row 3686
Compare level = 3669 &amp; sublevel = 3687
row 3669 != row 3687
Compare level = 3669 &amp; sublevel = 3690
row 3669 != row 3690
Compare level = 3669 &amp; sublevel = 3692
row 3669 != row 3692
Compare level = 3669 &amp; sublevel = 3699
row 3669 != row 3699
Compare level = 3671 &amp; sublevel = 3672
row 3671 == row 3672
drop
Compare level = 3672 &amp; sublevel = 3673
row 3672 == row 3673
drop
Compare level = 3673 &amp; sublevel = 3679
row 3673 != row 3679
Compare level = 3673 &amp; sublevel = 3681
row 3673 == row 3681
drop
Compare level = 3679 &amp; sublevel = 3681
row 3679 != row 3681
Compare level = 3679 &amp; sublevel = 3683
row 3679 != row 3683
Compare level = 3679 &amp; sublevel = 3685
row 3679 != row 3685
Compare level = 3679 &amp; sublevel = 3686
row 3679 != row 3686
Compare level = 3679 &amp; sublevel = 3687
row 3679 != row 3687
Compare level = 3679 &amp; sublevel = 3690
row 3679 != row 3690
Compare level = 3679 &amp; sublevel = 3692
row 3679 != row 3692
Compare level = 3679 &amp; sublevel = 3699
row 3679 != row 3699
Compare level = 3681 &amp; sublevel = 3683
row 3681 != row 3683
Compare level = 3681 &amp; sublevel = 3685
row 3681 == row 3685
drop
Compare level = 3683 &amp; sublevel = 3685
row 3683 != row 3685
Compare level = 3683 &amp; sublevel = 3686
row 3683 != row 3686
Compare level = 3683 &amp; sublevel = 3687
row 3683 != row 3687
Compare level = 3683 &amp; sublevel = 3690
row 3683 != row 3690
Compare level = 3683 &amp; sublevel = 3692
row 3683 != row 3692
Compare level = 3683 &amp; sublevel = 3699
row 3683 != row 3699
Compare level = 3685 &amp; sublevel = 3686
row 3685 == row 3686
drop
Compare level = 3686 &amp; sublevel = 3687
row 3686 != row 3687
Compare level = 3686 &amp; sublevel = 3690
row 3686 != row 3690
Compare level = 3686 &amp; sublevel = 3692
row 3686 != row 3692
Compare level = 3686 &amp; sublevel = 3699
row 3686 != row 3699
Compare level = 3687 &amp; sublevel = 3690
row 3687 == row 3690
drop
Compare level = 3690 &amp; sublevel = 3692
row 3690 == row 3692
drop
Compare level = 3692 &amp; sublevel = 3699
row 3692 == row 3699
drop
helllo

,0,1,2,3,4,5,6,7,8,9,...,3691,3692,3693,3694,3695,3696,3697,3698,3699,3700
1,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3686,NaN,NaN,NaN,NaN,NaN,5,6,7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3691,3692,3693,3694,3695,3696,3697,3698,3699,3700

In [14]:
clean_index.to_csv('data/dubl.csv', sep=";")

In [31]:
whole_df = pd.read_csv('data/dubl.csv', sep=';', index_col='ind')

,0,1,2,3,4,5,6,7,8,9,...,3691,3692,3693,3694,3695,3696,3697,3698,3699,3700
ind,,,,,,,,,,,,,,,,,,,,,
1,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3686,NaN,NaN,NaN,NaN,NaN,5.0,6.0,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3691.0,3692.0,3693.0,3694.0,3695.0,3696.0,3697.0,3698.0,3699.0,3700.0

## Организуем поиск одинаковых окофов в кластере, формируем индексы кластеров с одинаковыми окофами

In [4]:
okof = pd.read_csv('data/okof.csv', sep=';', index_col='ind')

### Создается маска значений отличных от nan

In [7]:
mask = xl.notnull()

,0,1,2,3,4,5,6,7,8,9,...,3691,3692,3693,3694,3695,3696,3697,3698,3699,3700
ind,,,,,,,,,,,,,,,,,,,,,
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3696,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
3697,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
3698,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
3699,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
3700,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True

### Накладываем маску похожих названий на их окофы

In [76]:
real_okof = okof[mask]

## Организуем поиск одинаковых окофов в кластере, формируем индексы кластеров с одинаковыми окофами

In [75]:
dubl = []
for i in range(3701):
    #print(set(real_okof.loc[i].dropna().to_list()))
    if len(set(real_okof.loc[i].dropna().to_list())) == 1:
        dubl.append(i)

#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;}
set()
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;}
set()
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;}
{&#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
set()
{&#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Шестая группа (свыше 10 лет до 15 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Шестая группа (свыше 10 лет до 15 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Вторая группа (свыше 2 лет до 3 лет включительно)&#39;}
{&#39;Первая группа (от 1 года до 2 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Шестая группа (свыше 10 лет до 15 лет включительно)&#39;}
{&#39;Шестая группа (свыше 10 лет до 15 лет включительно)&#39;}
{&#39;Шестая группа (свыше 10 лет до 15 лет включительно)&#39;}
{&#39;Шестая группа (свыше 10 лет до 15 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Шестая группа (свыше 10 лет до 15 лет включительно)&#39;, &#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Шестая группа (свыше 10 лет до 15 лет включительно)&#39;, &#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Шестая группа (свыше 10 лет до 15 лет включительно)&#39;, &#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Шестая группа (свыше 10 лет до 15 лет включительно)&#39;, &#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Шестая группа (свыше 10 лет до 15 лет включительно)&#39;, &#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Шестая группа (свыше 10 лет до 15 лет включительно)&#39;, &#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;, &#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Шестая группа (свыше 10 лет до 15 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Шестая группа (свыше 10 лет до 15 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Девятая группа (свыше 25 лет до 30 лет включительно)&#39;}
{&#39;Девятая группа (свыше 25 лет до 30 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
set()
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
set()
set()
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
set()
{&#39;Третья группа (свыше 3 лет до 5 лет включительно)&#39;}
set()
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Седьмая группа (свыше 15 лет до 20 лет включительно)&#39;}
{&#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}
{&#39;Четвертая группа (свыше 5 лет до 7 лет включительно)&#39;, &#39;Пятая группа (свыше 7 лет до 10 лет включительно)&#39;}

## Создаем датафрейм окоф где номера не дублируются

In [74]:
dif_okof = okof.query(f"index not in {dubl}")

## Извлекаем индексы (те что пересекаются) в оторых есть отличия по контрольным значениям (окоф, срок службы и т.д.)

In [16]:
mistake = list(set(list(whole_df.index)) & set(list(dif_okof.index)))


mistake.sort()
len(mistake)

56

### Записываем результат в ексел

In [72]:
from pandas.io.excel import ExcelWriter
m_ar = np.array(mistake)
mur = pd.DataFrame()
fg = None
for num, i in enumerate(m_ar):
    answer = whole_df.loc[[i]].T.dropna().iloc[:, 0].to_list()    
    mur = df.loc[answer]
    name = answer[0]
    with ExcelWriter('data/dif/din.xlsx', mode='a') as writer:
        mur.to_excel(writer, sheet_name=f'лист {num}')