In [2]:
import difflib

import matplotlib as plt
import numpy as np
import pandas as pd

In [2]:
xl = pd.ExcelFile('data/ОС.xlsx')

In [4]:
xl.sheet_names

[&#39;TDSheet&#39;]

In [5]:
df = xl.parse('TDSheet')
df

,№ п/п,Основное средство,Основное средство.(не используется) Счет учета,Основное средство.(не используется) Первоначальная стоимость,Основное средство.(не используется) Инвентарный номер,Основное средство.Амортизационная группа,Основное средство.Код по ОКОФ,Стоимость,Количество,Стоимость.1,Количество.1,Стоимость.2,Количество.2,Стоимость.3,Количество.3
0,1,IP видеодомофон,101.34,17140.75,ОС0000005631,Четвертая группа (свыше 5 лет до 7 лет включит...,330.26.30.50,17140.75,1.0,34281.50,2.0,34281.50,2.0,17140.75,1.0
1,2,IP видеокамера B55-5Н,101.34,46973.00,ОС0000005265,Третья группа (свыше 3 лет до 5 лет включительно),330.26.70.13,46973.00,1.0,NaN,NaN,NaN,NaN,46973.00,1.0
2,3,IP видеокамера B55-5Н,101.34,47660.62,ОС0000005155,Третья группа (свыше 3 лет до 5 лет включительно),330.26.70.13,47660.62,1.0,NaN,NaN,NaN,NaN,47660.62,1.0
3,4,USB Накопитель Flash Transcend 8Gb JetFlash 300,101.34,486.89,NaN,Вторая группа (свыше 2 лет до 3 лет включительно),320.26.2,5842.68,12.0,NaN,NaN,3895.12,8.0,1947.56,4.0
4,5,Абонентская сеть СУСС,101.34,42931.89,ОС0000005913,Четвертая группа (свыше 5 лет до 7 лет включит...,320.26.30.11.150,NaN,NaN,42931.89,1.0,NaN,NaN,42931.89,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3696,3697,"Ящик для песка сборно-разборный (0,5 куб. м.)",101.36,3830.00,ОС0000004165,Четвертая группа (свыше 5 лет до 7 лет включит...,16 3612516,3830.00,1.0,3830.00,1.0,3830.00,1.0,3830.00,1.0
3697,3698,"Ящик для песка сборно-разборный (0,5 куб. м.)",101.36,3830.00,ОС0000004166,Четвертая группа (свыше 5 лет до 7 лет включит...,16 3612516,3830.00,1.0,NaN,NaN,NaN,NaN,3830.00,1.0
3698,3699,"Ящик для песка сборно-разборный (0,5 куб. м.)",101.36,3830.00,ОС0000004167,Четвертая группа (свыше 5 лет до 7 лет включит...,16 3612516,3830.00,1.0,3830.00,1.0,3830.00,1.0,3830.00,1.0
3699,3700,Ящик-носилки для мяса и рыбы,101.36,4414.00,000000063519,Пятая группа (свыше 7 лет до 10 лет включительно),16 2945116,4414.00,1.0,4414.00,1.0,4414.00,1.0,4414.00,1.0
3700,3701,Ящик-носилки для мяса и рыбы,101.36,4414.00,000000063520,Пятая группа (свыше 7 лет до 10 лет включительно),16 2945116,4414.00,1.0,4414.00,1.0,4414.00,1.0,4414.00,1.0

### Hello

In [7]:
df.columns

Index([&#39;№ п/п&#39;, &#39;Основное средство &#39;,
       &#39;Основное средство.(не используется) Счет учета&#39;,
       &#39;Основное средство.(не используется) Первоначальная стоимость&#39;,
       &#39;Основное средство.(не используется) Инвентарный номер&#39;,
       &#39;Основное средство.Амортизационная группа&#39;,
       &#39;Основное средство.Код по ОКОФ&#39;, &#39;Стоимость&#39;, &#39;Количество&#39;,
       &#39;Стоимость.1&#39;, &#39;Количество.1&#39;, &#39;Стоимость.2&#39;, &#39;Количество.2&#39;,
       &#39;Стоимость.3&#39;, &#39;Количество.3&#39;],
      dtype=&#39;object&#39;)

In [8]:
df['Слова'] = df['Основное средство '].str.split()
df['Short'] = ''
depth = 6
for x in range(df.shape[0]):
    words_arr = list(df.iloc[x]['Слова'])
    
    if len(words_arr) > depth:
        words_arr = words_arr[:depth]
    df.loc[x, 'Short'] = ' '.join(words_arr)
df

,№ п/п,Основное средство,Основное средство.(не используется) Счет учета,Основное средство.(не используется) Первоначальная стоимость,Основное средство.(не используется) Инвентарный номер,Основное средство.Амортизационная группа,Основное средство.Код по ОКОФ,Стоимость,Количество,Стоимость.1,Количество.1,Стоимость.2,Количество.2,Стоимость.3,Количество.3,Слова,Short
0,1,IP видеодомофон,101.34,17140.75,ОС0000005631,Четвертая группа (свыше 5 лет до 7 лет включит...,330.26.30.50,17140.75,1.0,34281.50,2.0,34281.50,2.0,17140.75,1.0,"[IP, видеодомофон]",IP видеодомофон
1,2,IP видеокамера B55-5Н,101.34,46973.00,ОС0000005265,Третья группа (свыше 3 лет до 5 лет включительно),330.26.70.13,46973.00,1.0,NaN,NaN,NaN,NaN,46973.00,1.0,"[IP, видеокамера, B55-5Н]",IP видеокамера B55-5Н
2,3,IP видеокамера B55-5Н,101.34,47660.62,ОС0000005155,Третья группа (свыше 3 лет до 5 лет включительно),330.26.70.13,47660.62,1.0,NaN,NaN,NaN,NaN,47660.62,1.0,"[IP, видеокамера, B55-5Н]",IP видеокамера B55-5Н
3,4,USB Накопитель Flash Transcend 8Gb JetFlash 300,101.34,486.89,NaN,Вторая группа (свыше 2 лет до 3 лет включительно),320.26.2,5842.68,12.0,NaN,NaN,3895.12,8.0,1947.56,4.0,"[USB, Накопитель, Flash, Transcend, 8Gb, JetFl...",USB Накопитель Flash Transcend 8Gb JetFlash
4,5,Абонентская сеть СУСС,101.34,42931.89,ОС0000005913,Четвертая группа (свыше 5 лет до 7 лет включит...,320.26.30.11.150,NaN,NaN,42931.89,1.0,NaN,NaN,42931.89,1.0,"[Абонентская, сеть, СУСС]",Абонентская сеть СУСС
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3696,3697,"Ящик для песка сборно-разборный (0,5 куб. м.)",101.36,3830.00,ОС0000004165,Четвертая группа (свыше 5 лет до 7 лет включит...,16 3612516,3830.00,1.0,3830.00,1.0,3830.00,1.0,3830.00,1.0,"[Ящик, для, песка, сборно-разборный, (0,5, куб...","Ящик для песка сборно-разборный (0,5 куб."
3697,3698,"Ящик для песка сборно-разборный (0,5 куб. м.)",101.36,3830.00,ОС0000004166,Четвертая группа (свыше 5 лет до 7 лет включит...,16 3612516,3830.00,1.0,NaN,NaN,NaN,NaN,3830.00,1.0,"[Ящик, для, песка, сборно-разборный, (0,5, куб...","Ящик для песка сборно-разборный (0,5 куб."
3698,3699,"Ящик для песка сборно-разборный (0,5 куб. м.)",101.36,3830.00,ОС0000004167,Четвертая группа (свыше 5 лет до 7 лет включит...,16 3612516,3830.00,1.0,3830.00,1.0,3830.00,1.0,3830.00,1.0,"[Ящик, для, песка, сборно-разборный, (0,5, куб...","Ящик для песка сборно-разборный (0,5 куб."
3699,3700,Ящик-носилки для мяса и рыбы,101.36,4414.00,000000063519,Пятая группа (свыше 7 лет до 10 лет включительно),16 2945116,4414.00,1.0,4414.00,1.0,4414.00,1.0,4414.00,1.0,"[Ящик-носилки, для, мяса, и, рыбы]",Ящик-носилки для мяса и рыбы
3700,3701,Ящик-носилки для мяса и рыбы,101.36,4414.00,000000063520,Пятая группа (свыше 7 лет до 10 лет включительно),16 2945116,4414.00,1.0,4414.00,1.0,4414.00,1.0,4414.00,1.0,"[Ящик-носилки, для, мяса, и, рыбы]",Ящик-носилки для мяса и рыбы

In [9]:
idx = df['Short'].to_list()
idx = range(len(idx))
new_df = pd.DataFrame(columns=idx, index=idx)
new_df

,0,1,2,3,4,5,6,7,8,9,...,3691,3692,3693,3694,3695,3696,3697,3698,3699,3700
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
size  = df.shape[0]
level = 1
grade = 100
precision = 0.5
for x in range(size):    
    for y in range(size):
        row = df.iloc[x]['Short']
        col = df.iloc[y]['Short']
        diff = difflib.SequenceMatcher(None, row, col).ratio()
        new_df.loc[x, y] = diff
    if level == x // grade:
        level += 1
        print(x, level, x//grade)
new_df[new_df[:] > precision].to_csv('data/weights.csv', sep=";")

100 2 1
200 3 2
300 4 3
400 5 4
500 6 5
600 7 6
700 8 7
800 9 8
900 10 9
1000 11 10
1100 12 11
1200 13 12
1300 14 13
1400 15 14
1500 16 15
1600 17 16
1700 18 17
1800 19 18
1900 20 19
2000 21 20
2100 22 21
2200 23 22
2300 24 23
2400 25 24
2500 26 25
2600 27 26
2700 28 27
2800 29 28
2900 30 29
3000 31 30
3100 32 31
3200 33 32
3300 34 33
3400 35 34
3500 36 35
3600 37 36
3700 38 37

In [5]:
difflib.SequenceMatcher(None, 'row', 'row').ratio()

1.0